qualtrics_config.R
data/class_survey.csv
data/canvas_gradebook.csv
data/team_points.csv
data/team-formation-survey.csv
data/team_rosters.csv
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.Rhistory
/_site/files/models
/files/models
_site/files/models/51.1.rds
_site/files/models/51.2.rds
_site/files/models/m81.1.rds

**/*.quarto_ipynb
**/.DS_Store
